<html>
    <head>
        <title>Vitoria's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Vitoria's blog</a></h1>
        </div>

        <div>
            <p>publicado: 04.11.2020, 15:49</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>this is my first posts.</p>
        </div>

        <div>
            <p>publicado: 04.11.2020, 16:38</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>this is my second posts.</p>
        </div>
    </body>
</html>